[Unit]
Description=Jannovar REST API
Requires=nginx.service
Before=nginx.service

[Service]
User=jannovar-rest-api
Group=nobody
WorkingDirectory=/srv/jannovar-rest-api/{{ jannovar_version }}
KillMode=process
Restart=always
ExecStart=/usr/bin/java -jar jannovar-cli-{{ jannovar_version }}.jar rest-server --host 127.0.0.1 --port 8080 -d data/hg19_refseq_curated.ser -d data/hg19_refseq.ser -d data/hg19_ensembl.ser

[Install]
# When should this service be triggered? (this is the equivalent of SysV's runlevel 3)
WantedBy=multi-user.target
