[Unit]
Description=Jannovar REST API
Requires=nginx.service
Before=nginx.service

[Service]
User=jannovar-rest-api
Group=nobody
WorkingDirectory=/srv/jannovar-rest-api/{{ jannovar_version }}
KillMode=process
Restart=always
ExecStart=/usr/bin/java -jar jannovar-cli-{{ jannovar_version }}.jar rest-server --host {{ jannovar_host }} --port {{ jannovar_port }}{% for db in jannovar_server_databases %} -d data/{{ db|replace("/", "_") }}.ser{% endfor %}

[Install]
# When should this service be triggered? (this is the equivalent of SysV's runlevel 3)
WantedBy=multi-user.target
